<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Airplane Seats Resrvations</title>
        <link rel="stylesheet" href="../static/ext-theme-classic-all.css" th:href="@{/ext-theme-classic-all.css}"/>
        <script type="text/javascript" src="/static/ext-dev.js" th:src="@{/ext-dev.js}"></script>
        <script type="text/javascript" src="/static/bootstrap.js" th:src="@{/bootstrap.js}"></script>
        <script type="text/javascript" src="/static/app/app.js" th:src="@{/app/app.js}"></script>
    </head>
</html>